@page
@model Login

<form method="post" class="text-center">
    <div>
        <label for="Name">Name:</label>
        <input type="text" id="Name" class="form-control" asp-for="Name" />
    </div>
    <div>
        <label for="Age">Age:</label>
        <input type="number" id="Age" class="form-control" asp-for="Age" />
    </div>
    <div>
        <label for="Email">Email:</label>
        <input type="text" id="Email" class="form-control" asp-for="Email" />
    </div>
    <button type="submit">Submit</button>
</form>
